.leaflet-container {
  width: 100%;
  height: 570px;
}

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

.tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.td {
  display: table-cell;
  vertical-align: inherit;
}

.map.mode-create {
  cursor: crosshair;
}

